<?xml version="1.0" ?>
<!--
/**
 * Copyright © Coditron Technologies All rights reserved.
 * See COPYING.txt for license details.
 * http://www.coditron.com | contact@coditron.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Coditron::top_level" title="Coditron" module="Coditron_ZipcodeAvailability" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Coditron_ZipcodeAvailability::coditron_zipcodeavailability_zipcodeavailability" title="ZipcodeAvailability" module="Coditron_ZipcodeAvailability" sortOrder="9999" resource="Magento_Backend::content" parent="Coditron::top_level" action="coditron_zipcodeavailability/zipcodeavailability/index"/>
	</menu>
</config>
