<?xml version="1.0" ?>
<!--
/**
 * Copyright © Coditron Technologies All rights reserved.
 * See COPYING.txt for license details.
 * http://www.coditron.com | contact@coditron.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <!-- Admin Route (if needed) -->
    <router id="admin">
        <route frontName="coditron_zipcodeavailability" id="coditron_zipcodeavailability">
            <module name="Coditron_ZipcodeAvailability"/>
        </route>
    </router>
</config>
